# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Java
*.class
*.jar
*.war
*.ear
*.log

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
*.factorypath

# macOS
.DS_Store
